@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.calc{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: absolute;
    top: 0; left: -260px;
    transition: all 0.2s;
}
#calc_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #383838;
    border-radius: 10px;
    flex: 0 0 260px;
}
.calc--exibir{
    left: 0 !important;
    transition: all 0.2s;
}
#calc_aba{
    color: white;
    background-color: #383838;
    padding: 10px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
.div-nome{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #d4d4d4;
}
#display{
    width: 90%;
    text-align: right;
    font-size: 2em;
    overflow-x: auto;
}
.div-teclas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 230px;
}
.tecla{
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border: 3px solid #888;
    border-radius: 10px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.tecla:hover{
    opacity: 0.8;
}
.teclaOp{
    background-color: rgb(35, 77, 190) !important;
    border-color: rgb(35, 77, 190) !important;
    color: white;
}