div#area{
    background: greenyellow;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}