@charset "UTF-8";
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    width: 90%;
    margin: 20px auto;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 10px;
}
h1{
    color: rgb(51, 51, 51);
    text-align: center;
    margin: 20px 0;
}
.main__container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-flow: column nowrap;
    margin: 20px 0;
}
input[type="number"]{
    width: 130px;
    height: 50px;
    border: 1px solid rgb(223, 223, 223);
    text-align: center;
    font-size: 1.5em;
    color: rgb(51, 51, 51);
    font-weight: 0;
}
select{
    width: 130px;
    height: 30px;
    background-color: rgb(223, 223, 223);
    border: 1px solid rgb(223, 223, 223);
}
span{
    color: rgb(51, 51, 51);
    font-size: 4em;
}
@media (min-width: 665px) {
    main{
        width: 600px;
    }
    input[type="number"]{
        height: 80px;
    }
    select, input[type="number"]{
        width: 180px;
    }
}