*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
}
body{
    background-image: linear-gradient(to bottom, rgb(67, 176, 226), rgb(133, 228, 70));
}
main{
    width: 85%;

    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
}
h1{
    text-align: center;
    margin: 50px;
}
div{
    margin: auto;
}
label{
    margin: 0 10px;
}
input[type="button"]{
    display: block;
    margin: 30px auto;
    padding: 8px;
    background-color: rgb(30, 153, 235);
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
}
input[type="button"]:hover{
    cursor: pointer;
    background-color: rgb(101, 185, 241);
    transition-duration: .5s;
    transition-timing-function: ease;
}
input[type="number"]{
    width: 50px;
}
p{
    margin: 50px;
    font-weight: bold;
    text-align: center;
}
.triangulo{
    background-color: transparent;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(69, 181, 255);
}